.headerContainer {
    margin-bottom: 5.8rem;
}

.title {
    font-size: 3.9rem;
    line-height: 100%;
    color: #222222;
}

.subTitle {
    font-size: 1.5rem;
    line-height: 2.6rem;
    color: #22222280;
}

@media screen and (max-width: 992px) and (min-width: 300px){
    .headerContainer {
        margin: 12.8rem 0 4.2rem;
    }

    .title {
        font-size: 3rem;
    }

    .subTitle {
        line-height: 2.2rem;
    }
}